:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.game-container {
  display: flex;
  height: 100%;
}

.map-container {
  width: 50%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

* {
  overflow: hidden;
}

.question-container {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.flag-container {
  margin: 1rem 0;
  img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
}

.score {
  margin-top: auto;
  font-weight: bold;
  font-size: 1.2rem;
}

.result {
  text-align: center;
  padding: 2rem;
}

::ng-deep .maplibregl-ctrl{
  display: none !important;
  visibility: hidden !important;
}