.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 200px);
}

.maplibregl-ctrl, .maplibregl-ctrl-bottom-left, .maplibregl-ctrl-attrib-inner, .maplibregl-ctrl-attrib {
  display: none;
  visibility: hidden;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}