<div *ngIf="graSkonczona" class="result">
  <h2>😢 Koniec gry</h2>
  <p>Przekroczyłeś limit {{ maksBledy }} błędów.</p>
  <p>Twój wynik: {{ punkty }} punktów</p>
  <button (click)="resetujGre()">🔁 Zagraj ponownie</button>
  <button (click)="przejdzDoMenu()">🏠 Wróć do menu</button>
</div>

<div *ngIf="!graSkonczona" class="game-container">

  <div class="map-container">
    <div #map class="map"></div>
  </div>

  <div class="question-container">
    <h1>Zgadnij kraj po kliknięciu na mapę</h1>

    <div *ngIf="obecnyKraj" class="flag-container">
      <p>Flaga:</p>
      <img [src]="obecnyKraj.flags.png" alt="Flaga" />
    </div>

    <p class="score">
      ⏱️ Czas: {{ czas }} s | ✅ Punkty: {{ punkty }} | ❌ Błędy: {{ bledy }}/{{ maksBledy }}
    </p>

    <div *ngIf="czySprawdzono" class="answer-feedback" [style.color]="czyPoprawna ? 'green' : 'red'">
      {{ czyPoprawna ? '✅ Dobrze!' : '❌ Źle!' }}
      <br />
      Prawidłowa odpowiedź: <strong>{{ obecnyKraj.name.common }}</strong>
    </div>

    <button *ngIf="czySprawdzono && !graSkonczona" (click)="nowaRunda()">➡️ Następna runda</button>

    <button (click)="przejdzDoMenu()">🏠 Wróć do menu</button>
  </div>
</div>
