<div class="container">
  <div class="d-flex justify-content-end mt-3">
    <ng-container *ngIf="!isLoggedIn">
      <button class="btn btn-outline-primary me-2" (click)="zaloguj()">🔐 Zaloguj</button>
      <button class="btn btn-outline-success" (click)="zarejestruj()">📝 Zarejestruj</button>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <span class="me-2 fw-bold">👤 Witaj, {{ username }}</span>
      <button class="btn btn-outline-danger" (click)="wyloguj()">🚪 Wyloguj</button>
    </ng-container>
  </div>

  <div class="text-center mt-5">
    <h1 class="mb-4">🎮 Menu Główne</h1>
    <div class="d-grid gap-3 col-12 col-sm-8 col-md-6 mx-auto">
      <a class="btn btn-primary" routerLink='/graFlaga'>🧠 Zagraj: Zgadnij flagę państwa</a>
      <a class="btn btn-primary" routerLink='/graStolica'>🧠 Zagraj: Zgadnij stolicę państwa</a>
      <a class="btn btn-primary" routerLink='/graMapa'>🧠 Zagraj: Zgadnij flagę państwa - wskaż na mapie</a>
      <a class="btn btn-secondary" routerLink='/ustawienia'>⚙️ Ustawienia</a>
      <a class="btn btn-info text-white" routerLink='/statistics'>📊 Statystyki</a>
    </div>
  </div>
</div>
