<div class="auth-panel">
  <ng-container *ngIf="!auth.isLoggedIn()">
    <button routerLink="/login">🔐 Zaloguj</button>
    <button routerLink="/register">📝 Zarejestruj</button>
  </ng-container>
  <ng-container *ngIf="auth.isLoggedIn()">
    <span>👤 Witaj, {{ auth.getUsername() }}</span>
    <button (click)="auth.logout()">🚪 Wyloguj</button>
  </ng-container>
</div>


<div class="menu">
  <h1>🎮 Menu Główne</h1>
  <button routerLink='/graFlaga'>🧠 Zagraj: Zgadnij flagę państwa</button>
  <button routerLink='/graStolica'>🧠 Zagraj: Zgadnij stolicę państwa</button>
  <button routerLink='/ustawienia'>⚙️ Ustawienia</button>
</div>
