<div class="settings">
  <h1>⚙️ Ustawienia</h1>

  <label>
    ⏱️ Czas na odpowiedź (sekundy):
    <input type="number" [(ngModel)]="czasNaOdpowiedz" min="1" />
  </label>
  <p *ngIf="czasNaOdpowiedz <= 0" style="color: red;">
    Czas musi być większy niż 0 sekund.
  </p>

  <br />

  <label>
    ❌ Maksymalna liczba błędów:
    <input type="number" [(ngModel)]="maksBledy" min="0" />
  </label>
  <p *ngIf="maksBledy < 1" style="color: red;">
    Liczba błędów nie może być mniejsza bądź równa 0.
  </p>

  <br />

  <label>
    🌍 Wybierz region:
    <select [(ngModel)]="region">
      <option value="all">🌐 Wszystkie kraje</option>
      <option value="Europe">🇪🇺 Europa</option>
      <option value="Asia">🌏 Azja</option>
      <option value="Africa">🌍 Afryka</option>
      <option value="Oceania">🌊 Australia i Oceania</option>
      <option value="North America">🌎 Ameryka Północna</option>
      <option value="South America">🌎 Ameryka Południowa</option>
    </select>
  </label>

  <br /><br />
  <button
    (click)="zapisz()"
    [disabled]="czasNaOdpowiedz <= 0 || maksBledy < 1">
    💾 Zapisz
  </button>
  <button (click)="przejdzDoMenu()">🏠 Wróć do menu</button>
</div>
